.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_id_empresa_det_label, .css_id_empresa_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_empresa_det_line, .css_id_empresa_det_line:hover {height:0px;text-align: left;}
.css_contato_det_label, .css_contato_det_label:hover {text-align: left;vertical-align: middle;}
.css_contato_det_line, .css_contato_det_line:hover {height:0px;text-align: left;}
.css_telefone_det_label, .css_telefone_det_label:hover {text-align: left;vertical-align: middle;}
.css_telefone_det_line, .css_telefone_det_line:hover {height:0px;text-align: left;}
.css_celular_det_label, .css_celular_det_label:hover {text-align: left;vertical-align: middle;}
.css_celular_det_line, .css_celular_det_line:hover {height:0px;text-align: left;}
.css_whatsapp_det_label, .css_whatsapp_det_label:hover {text-align: left;vertical-align: middle;}
.css_whatsapp_det_line, .css_whatsapp_det_line:hover {height:0px;text-align: left;}
.css_cargo_det_label, .css_cargo_det_label:hover {text-align: left;vertical-align: middle;}
.css_cargo_det_line, .css_cargo_det_line:hover {height:0px;text-align: left;}
.css_email_det_label, .css_email_det_label:hover {text-align: left;vertical-align: middle;}
.css_email_det_line, .css_email_det_line:hover {height:0px;text-align: left;}
.css_newsletter_det_label, .css_newsletter_det_label:hover {text-align: left;vertical-align: middle;}
.css_newsletter_det_line, .css_newsletter_det_line:hover {height:0px;text-align: left;}
