.css_transportadora_label, .css_transportadora_label span{ }
.css_transportadora_label span  span{line-height:1.5;}
.css_transportadora_line, .css_transportadora_line >span{ }
.css_transportadora_line span  span{line-height:1.5;}
.css_transportadora_obj, .css_transportadora_obj span{ }
.css_transportadora_obj span  span{line-height:1.5;}
.css_endereco_label, .css_endereco_label span{ }
.css_endereco_label span  span{line-height:1.5;}
.css_endereco_line, .css_endereco_line >span{ }
.css_endereco_line span  span{line-height:1.5;}
.css_endereco_obj, .css_endereco_obj span{ }
.css_endereco_obj span  span{line-height:1.5;}
.css_telefone_label, .css_telefone_label span{ }
.css_telefone_label span  span{line-height:1.5;}
.css_telefone_line, .css_telefone_line >span{ }
.css_telefone_line span  span{line-height:1.5;}
.css_telefone_obj, .css_telefone_obj span{ }
.css_telefone_obj span  span{line-height:1.5;}
.css_email_label, .css_email_label span{ }
.css_email_label span  span{line-height:1.5;}
.css_email_line, .css_email_line >span{ }
.css_email_line span  span{line-height:1.5;}
.css_email_obj, .css_email_obj span{ }
.css_email_obj span  span{line-height:1.5;}
.css_contato_label, .css_contato_label span{ }
.css_contato_label span  span{line-height:1.5;}
.css_contato_line, .css_contato_line >span{ }
.css_contato_line span  span{line-height:1.5;}
.css_contato_obj, .css_contato_obj span{ }
.css_contato_obj span  span{line-height:1.5;}
