.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_fob_avg_label, .css_fob_avg_label:hover {text-align: right; vertical-align: top}
.css_fob_avg_field, .css_fob_avg_field:hover {text-align: right; vertical-align: top}
.css_fob_max_label, .css_fob_max_label:hover {text-align: right; vertical-align: top}
.css_fob_max_field, .css_fob_max_field:hover {text-align: right; vertical-align: top}
.css_fob_min_label, .css_fob_min_label:hover {text-align: right; vertical-align: top}
.css_fob_min_field, .css_fob_min_field:hover {text-align: right; vertical-align: top}
.css_peso_avg_label, .css_peso_avg_label:hover {text-align: right; vertical-align: top}
.css_peso_avg_field, .css_peso_avg_field:hover {text-align: right; vertical-align: top}
.css_peso_max_label, .css_peso_max_label:hover {text-align: right; vertical-align: top}
.css_peso_max_field, .css_peso_max_field:hover {text-align: right; vertical-align: top}
.css_peso_min_label, .css_peso_min_label:hover {text-align: right; vertical-align: top}
.css_peso_min_field, .css_peso_min_field:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label, .css___nm_count_nm___cnt_label:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field, .css___nm_count_nm___cnt_field:hover {text-align: right; vertical-align: top}
