.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_credito_sum_label, .css_credito_sum_label:hover {text-align: right; vertical-align: top}
.css_credito_sum_field, .css_credito_sum_field:hover {text-align: right; vertical-align: top}
.css_debito_sum_label, .css_debito_sum_label:hover {text-align: right; vertical-align: top}
.css_debito_sum_field, .css_debito_sum_field:hover {text-align: right; vertical-align: top}
.css_subtotal_sum_label, .css_subtotal_sum_label:hover {text-align: right; vertical-align: top}
.css_subtotal_sum_field, .css_subtotal_sum_field:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label, .css___nm_count_nm___cnt_label:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field, .css___nm_count_nm___cnt_field:hover {text-align: right; vertical-align: top}
