.css_ordernumb_label, .css_ordernumb_label span{ }
.css_ordernumb_label span  span{line-height:1.5;}
.css_ordernumb_line, .css_ordernumb_line >span{ }
.css_ordernumb_line span  span{line-height:1.5;}
.css_ordernumb_obj, .css_ordernumb_obj span{text-align:right;}
.css_ordernumb_obj span  span{line-height:1.5;}
.css_moeda_label, .css_moeda_label span{ }
.css_moeda_label span  span{line-height:1.5;}
.css_moeda_line, .css_moeda_line >span{ }
.css_moeda_line span  span{line-height:1.5;}
.css_moeda_obj, .css_moeda_obj span{ }
.css_moeda_obj span  span{line-height:1.5;}
.css_data_label, .css_data_label span{ }
.css_data_label span  span{line-height:1.5;}
.css_data_line, .css_data_line >span{ }
.css_data_line span  span{line-height:1.5;}
.css_data_obj, .css_data_obj span{ }
.css_data_obj span  span{line-height:1.5;}
.css_id_empresa_label, .css_id_empresa_label span{ }
.css_id_empresa_label span  span{line-height:1.5;}
.css_id_empresa_line, .css_id_empresa_line >span{ }
.css_id_empresa_line span  span{line-height:1.5;}
.css_id_empresa_obj, .css_id_empresa_obj span{ }
.css_id_empresa_obj span  span{line-height:1.5;}
.css_atencao_label, .css_atencao_label span{ }
.css_atencao_label span  span{line-height:1.5;}
.css_atencao_line, .css_atencao_line >span{ }
.css_atencao_line span  span{line-height:1.5;}
.css_atencao_obj, .css_atencao_obj span{ }
.css_atencao_obj span  span{line-height:1.5;}
.css_comprador_label, .css_comprador_label span{ }
.css_comprador_label span  span{line-height:1.5;}
.css_comprador_line, .css_comprador_line >span{ }
.css_comprador_line span  span{line-height:1.5;}
.css_comprador_obj, .css_comprador_obj span{ }
.css_comprador_obj span  span{line-height:1.5;}
.css_obs_label, .css_obs_label span{ }
.css_obs_label span  span{line-height:1.5;}
.css_obs_line, .css_obs_line >span{ }
.css_obs_line span  span{line-height:1.5;}
.css_obs_obj, .css_obs_obj span{ }
.css_obs_obj span  span{line-height:1.5;}
.css_natureza_label, .css_natureza_label span{ }
.css_natureza_label span  span{line-height:1.5;}
.css_natureza_line, .css_natureza_line >span{ }
.css_natureza_line span  span{line-height:1.5;}
.css_natureza_obj, .css_natureza_obj span{ }
.css_natureza_obj span  span{line-height:1.5;}
.css_itenscompra_label, .css_itenscompra_label span{ }
.css_itenscompra_label span  span{line-height:1.5;}
.css_itenscompra_line, .css_itenscompra_line >span{ }
.css_itenscompra_line span  span{line-height:1.5;}
.css_itenscompra_obj, .css_itenscompra_obj span{ }
.css_itenscompra_obj span  span{line-height:1.5;}
.css_emaildealer_label, .css_emaildealer_label span{ }
.css_emaildealer_label span  span{line-height:1.5;}
.css_emaildealer_line, .css_emaildealer_line >span{ }
.css_emaildealer_line span  span{line-height:1.5;}
.css_emaildealer_obj, .css_emaildealer_obj span{ }
.css_emaildealer_obj span  span{line-height:1.5;}
