.css_empresa_label, .css_empresa_label span{ }
.css_empresa_label span  span{line-height:1.5;}
.css_empresa_line, .css_empresa_line >span{ }
.css_empresa_line span  span{line-height:1.5;}
.css_empresa_obj, .css_empresa_obj span{ }
.css_empresa_obj span  span{line-height:1.5;}
.css_cep_label, .css_cep_label span{ }
.css_cep_label span  span{line-height:1.5;}
.css_cep_line, .css_cep_line >span{ }
.css_cep_line span  span{line-height:1.5;}
.css_cep_obj, .css_cep_obj span{ }
.css_cep_obj span  span{line-height:1.5;}
.css_endereco_label, .css_endereco_label span{ }
.css_endereco_label span  span{line-height:1.5;}
.css_endereco_line, .css_endereco_line >span{ }
.css_endereco_line span  span{line-height:1.5;}
.css_endereco_obj, .css_endereco_obj span{ }
.css_endereco_obj span  span{line-height:1.5;}
.css_cidade_label, .css_cidade_label span{ }
.css_cidade_label span  span{line-height:1.5;}
.css_cidade_line, .css_cidade_line >span{ }
.css_cidade_line span  span{line-height:1.5;}
.css_cidade_obj, .css_cidade_obj span{ }
.css_cidade_obj span  span{line-height:1.5;}
.css_uf_label, .css_uf_label span{ }
.css_uf_label span  span{line-height:1.5;}
.css_uf_line, .css_uf_line >span{ }
.css_uf_line span  span{line-height:1.5;}
.css_uf_obj, .css_uf_obj span{ }
.css_uf_obj span  span{line-height:1.5;}
.css_cnpj_label, .css_cnpj_label span{ }
.css_cnpj_label span  span{line-height:1.5;}
.css_cnpj_line, .css_cnpj_line >span{ }
.css_cnpj_line span  span{line-height:1.5;}
.css_cnpj_obj, .css_cnpj_obj span{ }
.css_cnpj_obj span  span{line-height:1.5;}
.css_inscest_label, .css_inscest_label span{ }
.css_inscest_label span  span{line-height:1.5;}
.css_inscest_line, .css_inscest_line >span{ }
.css_inscest_line span  span{line-height:1.5;}
.css_inscest_obj, .css_inscest_obj span{ }
.css_inscest_obj span  span{line-height:1.5;}
.css_inscmun_label, .css_inscmun_label span{ }
.css_inscmun_label span  span{line-height:1.5;}
.css_inscmun_line, .css_inscmun_line >span{ }
.css_inscmun_line span  span{line-height:1.5;}
.css_inscmun_obj, .css_inscmun_obj span{ }
.css_inscmun_obj span  span{line-height:1.5;}
.css_telefone_label, .css_telefone_label span{ }
.css_telefone_label span  span{line-height:1.5;}
.css_telefone_line, .css_telefone_line >span{ }
.css_telefone_line span  span{line-height:1.5;}
.css_telefone_obj, .css_telefone_obj span{ }
.css_telefone_obj span  span{line-height:1.5;}
.css_email_label, .css_email_label span{ }
.css_email_label span  span{line-height:1.5;}
.css_email_line, .css_email_line >span{ }
.css_email_line span  span{line-height:1.5;}
.css_email_obj, .css_email_obj span{ }
.css_email_obj span  span{line-height:1.5;}
.css_email_admin_label, .css_email_admin_label span{ }
.css_email_admin_label span  span{line-height:1.5;}
.css_email_admin_line, .css_email_admin_line >span{ }
.css_email_admin_line span  span{line-height:1.5;}
.css_email_admin_obj, .css_email_admin_obj span{ }
.css_email_admin_obj span  span{line-height:1.5;}
.css_homepage_label, .css_homepage_label span{ }
.css_homepage_label span  span{line-height:1.5;}
.css_homepage_line, .css_homepage_line >span{ }
.css_homepage_line span  span{line-height:1.5;}
.css_homepage_obj, .css_homepage_obj span{ }
.css_homepage_obj span  span{line-height:1.5;}
.css_logo_label, .css_logo_label span{ }
.css_logo_label span  span{line-height:1.5;}
.css_logo_line, .css_logo_line >span{ }
.css_logo_line span  span{line-height:1.5;}
.css_logo_obj, .css_logo_obj span{ }
.css_logo_obj span  span{line-height:1.5;}
.css_rodape_label, .css_rodape_label span{ }
.css_rodape_label span  span{line-height:1.5;}
.css_rodape_line, .css_rodape_line >span{ }
.css_rodape_line span  span{line-height:1.5;}
.css_rodape_obj, .css_rodape_obj span{ }
.css_rodape_obj span  span{line-height:1.5;}
.css_header_proposta_label, .css_header_proposta_label span{ }
.css_header_proposta_label span  span{line-height:1.5;}
.css_header_proposta_line, .css_header_proposta_line >span{ }
.css_header_proposta_line span  span{line-height:1.5;}
.css_header_proposta_obj, .css_header_proposta_obj span{ }
.css_header_proposta_obj span  span{line-height:1.5;}
.css_id_obj, .css_id_obj span{text-align:left;}
.css_id_obj span  span{line-height:1.5;}
