COMPOSE_PROJECT_NAME=vm2025

# MySQL
MYSQL_ROOT_PASSWORD=troque_esta_senha
MYSQL_DATABASE=vm2025
MYSQL_USER=vm2025
MYSQL_PASSWORD=troque_esta_senha

# Portas expostas no host
WEB_PORT=8081
DB_PORT=3306
