.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_transportadora_det_label, .css_transportadora_det_label:hover {text-align: left;vertical-align: middle;}
.css_transportadora_det_line, .css_transportadora_det_line:hover {height:0px;text-align: left;}
.css_endereco_det_label, .css_endereco_det_label:hover {text-align: left;vertical-align: middle;}
.css_endereco_det_line, .css_endereco_det_line:hover {height:0px;text-align: left;}
.css_telefone_det_label, .css_telefone_det_label:hover {text-align: left;vertical-align: middle;}
.css_telefone_det_line, .css_telefone_det_line:hover {height:0px;text-align: left;}
.css_email_det_label, .css_email_det_label:hover {text-align: left;vertical-align: middle;}
.css_email_det_line, .css_email_det_line:hover {height:0px;text-align: left;}
.css_contato_det_label, .css_contato_det_label:hover {text-align: left;vertical-align: middle;}
.css_contato_det_line, .css_contato_det_line:hover {height:0px;text-align: left;}
