.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_margcont_sum_label, .css_margcont_sum_label:hover {font-size: 12px; color: #000066; text-align: right; vertical-align: top}
.css_margcont_sum_field, .css_margcont_sum_field:hover {text-align: right; vertical-align: top}
.css_subtotalvendido_sum_label, .css_subtotalvendido_sum_label:hover {text-align: right; vertical-align: top}
.css_subtotalvendido_sum_field, .css_subtotalvendido_sum_field:hover {text-align: right; vertical-align: top}
.css_custototal_sum_label, .css_custototal_sum_label:hover {text-align: right; vertical-align: top}
.css_custototal_sum_field, .css_custototal_sum_field:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label, .css___nm_count_nm___cnt_label:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field, .css___nm_count_nm___cnt_field:hover {text-align: right; vertical-align: top}
