.css_cidade_label, .css_cidade_label span{ }
.css_cidade_label span  span{line-height:1.5;}
.css_cidade_line, .css_cidade_line >span{ }
.css_cidade_line span  span{line-height:1.5;}
.css_cidade_obj, .css_cidade_obj span{ }
.css_cidade_obj span  span{line-height:1.5;}
.css_uf_label, .css_uf_label span{ }
.css_uf_label span  span{line-height:1.5;}
.css_uf_line, .css_uf_line >span{ }
.css_uf_line span  span{line-height:1.5;}
.css_uf_obj, .css_uf_obj span{ }
.css_uf_obj span  span{line-height:1.5;}
.css_ddd_label, .css_ddd_label span{ }
.css_ddd_label span  span{line-height:1.5;}
.css_ddd_line, .css_ddd_line >span{ }
.css_ddd_line span  span{line-height:1.5;}
.css_ddd_obj, .css_ddd_obj span{ }
.css_ddd_obj span  span{line-height:1.5;}
