.css_id_empresa_label { }
.css_id_empresa_line { }
.css_id_empresa_obj { }
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_credito_label { }
.css_credito_line { }
.css_credito_obj {text-align:right;}
.css_debito_label { }
.css_debito_line { }
.css_debito_obj {text-align:right;}
.css_id_subconta_label { }
.css_id_subconta_line { }
.css_id_subconta_obj { }
.css_id_ordem_label { }
.css_id_ordem_line { }
.css_id_ordem_obj { }
.css_referencia_label { }
.css_referencia_line { }
.css_referencia_obj { }
.css_moeda_label { }
.css_moeda_line { }
.css_moeda_obj { }
.css_sld_real_label { }
.css_sld_real_line { }
.css_sld_real_obj {text-align:right;}
.css_sld_dolar_label {text-align:right;}
.css_sld_dolar_line { }
.css_sld_dolar_obj { }
