.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_pai_label, .css_id_pai_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_pai_grid_line, .css_id_pai_grid_line:hover {vertical-align: top;text-align: left;}
.css_tipo_label, .css_tipo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line, .css_tipo_grid_line:hover {vertical-align: top;text-align: left;}
.css_conta_label, .css_conta_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_conta_grid_line, .css_conta_grid_line:hover {vertical-align: top;text-align: left;}
