.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_id_pai_det_label, .css_id_pai_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_pai_det_line, .css_id_pai_det_line:hover {height:0px;text-align: left;}
.css_conta_det_label, .css_conta_det_label:hover {text-align: left;vertical-align: middle;}
.css_conta_det_line, .css_conta_det_line:hover {height:0px;text-align: left;}
.css_tipo_det_label, .css_tipo_det_label:hover {text-align: left;vertical-align: middle;}
.css_tipo_det_line, .css_tipo_det_line:hover {height:0px;text-align: left;}
