.css_id_det_label, .css_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: right;}
.css_empresa_det_label, .css_empresa_det_label:hover {text-align: right;vertical-align: middle;}
.css_empresa_det_line, .css_empresa_det_line:hover {height:0px;text-align: right;}
.css_contato_det_label, .css_contato_det_label:hover {text-align: right;vertical-align: middle;}
.css_contato_det_line, .css_contato_det_line:hover {height:0px;text-align: right;}
.css_telefone_det_label, .css_telefone_det_label:hover {text-align: right;vertical-align: middle;}
.css_telefone_det_line, .css_telefone_det_line:hover {height:0px;text-align: right;}
.css_email_det_label, .css_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_email_det_line, .css_email_det_line:hover {height:0px;text-align: right;}
.css_cidade_det_label, .css_cidade_det_label:hover {text-align: right;vertical-align: middle;}
.css_cidade_det_line, .css_cidade_det_line:hover {height:0px;text-align: right;}
.css_uf_det_label, .css_uf_det_label:hover {text-align: right;vertical-align: middle;}
.css_uf_det_line, .css_uf_det_line:hover {height:0px;text-align: right;}
.css_assunto_det_label, .css_assunto_det_label:hover {text-align: right;vertical-align: middle;}
.css_assunto_det_line, .css_assunto_det_line:hover {height:0px;text-align: right;}
.css_info_det_label, .css_info_det_label:hover {text-align: right;vertical-align: middle;}
.css_info_det_line, .css_info_det_line:hover {height:0px;text-align: right;}
.css_data_det_label, .css_data_det_label:hover {text-align: right;vertical-align: middle;}
.css_data_det_line, .css_data_det_line:hover {height:0px;text-align: right;}
.css_cod_vend_det_label, .css_cod_vend_det_label:hover {text-align: right;vertical-align: middle;}
.css_cod_vend_det_line, .css_cod_vend_det_line:hover {height:0px;text-align: right;}
