.css_data_label, .css_data_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line, .css_data_grid_line:hover {vertical-align: top;text-align: center;}
.css_empresa_label, .css_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_grid_line, .css_empresa_grid_line:hover {vertical-align: top;text-align: right;}
.css_contato_label, .css_contato_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contato_grid_line, .css_contato_grid_line:hover {vertical-align: top;text-align: right;}
.css_telefone_label, .css_telefone_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefone_grid_line, .css_telefone_grid_line:hover {vertical-align: top;text-align: right;}
.css_assunto_label, .css_assunto_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_assunto_grid_line, .css_assunto_grid_line:hover {vertical-align: top;text-align: right;}
.css_cod_vend_label, .css_cod_vend_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_vend_grid_line, .css_cod_vend_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_email_label, .css_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line, .css_email_grid_line:hover {vertical-align: top;text-align: right;}
.css_cidade_label, .css_cidade_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cidade_grid_line, .css_cidade_grid_line:hover {vertical-align: top;text-align: right;}
