.css_cidade_label, .css_cidade_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cidade_grid_line, .css_cidade_grid_line:hover {vertical-align: top;text-align: left;}
.css_uf_label, .css_uf_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_uf_grid_line, .css_uf_grid_line:hover {vertical-align: top;text-align: left;}
.css_ddd_label, .css_ddd_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ddd_grid_line, .css_ddd_grid_line:hover {vertical-align: top;text-align: left;}
