.css_status_label, .css_status_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_status_grid_line, .css_status_grid_line:hover {vertical-align: top;text-align: right;}
