.css_qtd_label, .css_qtd_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_qtd_grid_line, .css_qtd_grid_line:hover {vertical-align: top;text-align: right;}
.css_empresa_empresa_label, .css_empresa_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_empresa_grid_line, .css_empresa_empresa_grid_line:hover {vertical-align: top;text-align: right;}
.css_empresa_contato_label, .css_empresa_contato_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_contato_grid_line, .css_empresa_contato_grid_line:hover {vertical-align: top;text-align: right;}
.css_empresa_categoria_label, .css_empresa_categoria_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_categoria_grid_line, .css_empresa_categoria_grid_line:hover {vertical-align: top;text-align: right;}
.css_ano_label, .css_ano_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ano_grid_line, .css_ano_grid_line:hover {vertical-align: top;text-align: right;}
.css_totalgeral_label, .css_totalgeral_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_totalgeral_grid_line, .css_totalgeral_grid_line:hover {vertical-align: top;text-align: right;}
