.css_qtd_det_label, .css_qtd_det_label:hover {text-align: left;vertical-align: middle;}
.css_qtd_det_line, .css_qtd_det_line:hover {height:0px;text-align: left;}
.css_empresa_empresa_det_label, .css_empresa_empresa_det_label:hover {text-align: left;vertical-align: middle;}
.css_empresa_empresa_det_line, .css_empresa_empresa_det_line:hover {height:0px;text-align: left;}
.css_empresa_contato_det_label, .css_empresa_contato_det_label:hover {text-align: left;vertical-align: middle;}
.css_empresa_contato_det_line, .css_empresa_contato_det_line:hover {height:0px;text-align: left;}
.css_empresa_categoria_det_label, .css_empresa_categoria_det_label:hover {text-align: left;vertical-align: middle;}
.css_empresa_categoria_det_line, .css_empresa_categoria_det_line:hover {height:0px;text-align: left;}
.css_totalgeral_det_label, .css_totalgeral_det_label:hover {text-align: left;vertical-align: middle;}
.css_totalgeral_det_line, .css_totalgeral_det_line:hover {height:0px;text-align: left;}
