.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_empresa_email_cnt_label, .css_empresa_email_cnt_label:hover {text-align: right; vertical-align: top}
.css_empresa_email_cnt_field, .css_empresa_email_cnt_field:hover {text-align: right; vertical-align: top}
.css_itemproposta_modelo_cnt_label, .css_itemproposta_modelo_cnt_label:hover {text-align: right; vertical-align: top}
.css_itemproposta_modelo_cnt_field, .css_itemproposta_modelo_cnt_field:hover {text-align: right; vertical-align: top}
.css_marca_marca_cnt_label, .css_marca_marca_cnt_label:hover {text-align: right; vertical-align: top}
.css_marca_marca_cnt_field, .css_marca_marca_cnt_field:hover {text-align: right; vertical-align: top}
