.css_empresa_email_label, .css_empresa_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_email_grid_line, .css_empresa_email_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_email_tot_ger, .css_empresa_email_tot_ger:hover {text-align: ;text-align: left;}
.css_empresa_empresa_label, .css_empresa_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_empresa_grid_line, .css_empresa_empresa_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_contato_label, .css_empresa_contato_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_contato_grid_line, .css_empresa_contato_grid_line:hover {vertical-align: top;text-align: left;}
.css_proposta_id_label, .css_proposta_id_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_proposta_id_grid_line, .css_proposta_id_grid_line:hover {vertical-align: top;text-align: left;}
.css_proposta_natureza_label, .css_proposta_natureza_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_proposta_natureza_grid_line, .css_proposta_natureza_grid_line:hover {vertical-align: top;text-align: left;}
.css_itemproposta_modelo_label, .css_itemproposta_modelo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_itemproposta_modelo_grid_line, .css_itemproposta_modelo_grid_line:hover {vertical-align: top;text-align: left;}
.css_itemproposta_modelo_tot_ger, .css_itemproposta_modelo_tot_ger:hover {text-align: ;text-align: left;}
.css_marca_marca_label, .css_marca_marca_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_marca_marca_grid_line, .css_marca_marca_grid_line:hover {vertical-align: top;text-align: left;}
.css_marca_marca_tot_ger, .css_marca_marca_tot_ger:hover {text-align: ;text-align: left;}
.css_empresa_email_C_sub_tot, .css_empresa_email_C_sub_tot:hover {text-align: left;text-align: left;}
.css_empresa_email_C_tot_ger, .css_empresa_email_C_tot_ger:hover {text-align: left;}
.css_itemproposta_modelo_C_sub_tot, .css_itemproposta_modelo_C_sub_tot:hover {text-align: left;text-align: left;}
.css_itemproposta_modelo_C_tot_ger, .css_itemproposta_modelo_C_tot_ger:hover {text-align: left;}
.css_marca_marca_C_sub_tot, .css_marca_marca_C_sub_tot:hover {text-align: left;text-align: left;}
.css_marca_marca_C_tot_ger, .css_marca_marca_C_tot_ger:hover {text-align: left;}
