.css_empresa_email_det_label, .css_empresa_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_empresa_email_det_line, .css_empresa_email_det_line:hover {height:0px;text-align: right;}
.css_empresa_empresa_det_label, .css_empresa_empresa_det_label:hover {text-align: right;vertical-align: middle;}
.css_empresa_empresa_det_line, .css_empresa_empresa_det_line:hover {height:0px;text-align: right;}
.css_empresa_contato_det_label, .css_empresa_contato_det_label:hover {text-align: right;vertical-align: middle;}
.css_empresa_contato_det_line, .css_empresa_contato_det_line:hover {height:0px;text-align: right;}
.css_proposta_natureza_det_label, .css_proposta_natureza_det_label:hover {text-align: right;vertical-align: middle;}
.css_proposta_natureza_det_line, .css_proposta_natureza_det_line:hover {height:0px;text-align: right;}
.css_proposta_id_det_label, .css_proposta_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_proposta_id_det_line, .css_proposta_id_det_line:hover {height:0px;text-align: right;}
.css_itemproposta_modelo_det_label, .css_itemproposta_modelo_det_label:hover {text-align: right;vertical-align: middle;}
.css_itemproposta_modelo_det_line, .css_itemproposta_modelo_det_line:hover {height:0px;text-align: right;}
.css_produto_descricao_det_label, .css_produto_descricao_det_label:hover {text-align: right;vertical-align: middle;}
.css_produto_descricao_det_line, .css_produto_descricao_det_line:hover {height:0px;text-align: right;}
.css_marca_marca_det_label, .css_marca_marca_det_label:hover {text-align: right;vertical-align: middle;}
.css_marca_marca_det_line, .css_marca_marca_det_line:hover {height:0px;text-align: right;}
