.css_id__label, .css_id__label span{text-align:;}
.css_id__label span  span{line-height:1.5;}
.css_id__line, .css_id__line span{text-align:left;}
.css_id__line span  span{line-height:1.5;}
.css_id__obj, .css_id__obj span{text-align:left;}
.css_id__obj span  span{line-height:1.5;}
.css_contato__label, .css_contato__label span{ }
.css_contato__label span  span{line-height:1.5;}
.css_contato__line, .css_contato__line span{ }
.css_contato__line span  span{line-height:1.5;}
.css_contato__obj, .css_contato__obj span{ }
.css_contato__obj span  span{line-height:1.5;}
.css_telefone__label, .css_telefone__label span{ }
.css_telefone__label span  span{line-height:1.5;}
.css_telefone__line, .css_telefone__line span{ }
.css_telefone__line span  span{line-height:1.5;}
.css_telefone__obj, .css_telefone__obj span{ }
.css_telefone__obj span  span{line-height:1.5;}
.css_celular__label, .css_celular__label span{ }
.css_celular__label span  span{line-height:1.5;}
.css_celular__line, .css_celular__line span{ }
.css_celular__line span  span{line-height:1.5;}
.css_celular__obj, .css_celular__obj span{ }
.css_celular__obj span  span{line-height:1.5;}
.css_whatsapp__label, .css_whatsapp__label span{ }
.css_whatsapp__label span  span{line-height:1.5;}
.css_whatsapp__line, .css_whatsapp__line span{ }
.css_whatsapp__line span  span{line-height:1.5;}
.css_whatsapp__obj, .css_whatsapp__obj span{ }
.css_whatsapp__obj span  span{line-height:1.5;}
.css_email__label, .css_email__label span{ }
.css_email__label span  span{line-height:1.5;}
.css_email__line, .css_email__line span{ }
.css_email__line span  span{line-height:1.5;}
.css_email__obj, .css_email__obj span{ }
.css_email__obj span  span{line-height:1.5;}
