.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_modelo_det_label, .css_modelo_det_label:hover {text-align: left;vertical-align: middle;}
.css_modelo_det_line, .css_modelo_det_line:hover {height:0px;text-align: left;}
.css_id_classe_det_label, .css_id_classe_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_classe_det_line, .css_id_classe_det_line:hover {height:0px;text-align: left;}
.css_ncm_det_label, .css_ncm_det_label:hover {text-align: left;vertical-align: middle;}
.css_ncm_det_line, .css_ncm_det_line:hover {height:0px;text-align: left;}
.css_id_marca_det_label, .css_id_marca_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_marca_det_line, .css_id_marca_det_line:hover {height:0px;text-align: left;}
.css_descricao_det_label, .css_descricao_det_label:hover {text-align: left;vertical-align: middle;}
.css_descricao_det_line, .css_descricao_det_line:hover {height:0px;text-align: left;}
.css_custo_det_label, .css_custo_det_label:hover {text-align: left;vertical-align: middle;}
.css_custo_det_line, .css_custo_det_line:hover {height:0px;text-align: left;}
.css_venda_det_label, .css_venda_det_label:hover {text-align: left;vertical-align: middle;}
.css_venda_det_line, .css_venda_det_line:hover {height:0px;text-align: left;}
.css_peso_det_label, .css_peso_det_label:hover {text-align: left;vertical-align: middle;}
.css_peso_det_line, .css_peso_det_line:hover {height:0px;text-align: left;}
.css_data_det_label, .css_data_det_label:hover {text-align: left;vertical-align: middle;}
.css_data_det_line, .css_data_det_line:hover {height:0px;text-align: left;}
