.css_uf_label, .css_uf_label span{ }
.css_uf_label span  span{line-height:1.5;}
.css_uf_line, .css_uf_line >span{ }
.css_uf_line span  span{line-height:1.5;}
.css_uf_obj, .css_uf_obj span{ }
.css_uf_obj span  span{line-height:1.5;}
.css_regiao_label, .css_regiao_label span{ }
.css_regiao_label span  span{line-height:1.5;}
.css_regiao_line, .css_regiao_line >span{ }
.css_regiao_line span  span{line-height:1.5;}
.css_regiao_obj, .css_regiao_obj span{ }
.css_regiao_obj span  span{line-height:1.5;}
.css_icm_label, .css_icm_label span{ }
.css_icm_label span  span{line-height:1.5;}
.css_icm_line, .css_icm_line >span{ }
.css_icm_line span  span{line-height:1.5;}
.css_icm_obj, .css_icm_obj span{ }
.css_icm_obj span  span{line-height:1.5;}
