.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_id_empresa_label { }
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_contato_label { }
.css_contato_line { }
.css_contato_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_cnpj_label { }
.css_cnpj_line { }
.css_cnpj_obj { }
.css_id_proposta_label { }
.css_id_proposta_line {text-align:left;}
.css_id_proposta_obj {text-align:left;}
.css_data_venda_label { }
.css_data_venda_line { }
.css_data_venda_obj { }
.css_id_itemproposta_label { }
.css_id_itemproposta_line {text-align:left;}
.css_id_itemproposta_obj {text-align:left;}
.css_modelo_label { }
.css_modelo_line { }
.css_modelo_obj { }
.css_serial_label { }
.css_serial_line { }
.css_serial_obj { }
.css_cod_ativacao_label { }
.css_cod_ativacao_line { }
.css_cod_ativacao_obj { }
.css_dados_integracao_label { }
.css_dados_integracao_line { }
.css_dados_integracao_obj { }
.css_dados_suporte_label { }
.css_dados_suporte_line { }
.css_dados_suporte_obj { }
