.css_cst_label, .css_cst_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cst_grid_line, .css_cst_grid_line:hover {vertical-align: top;text-align: right;}
.css_descricao_label, .css_descricao_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_grid_line, .css_descricao_grid_line:hover {vertical-align: top;text-align: right;}
