.css_osnumber_label { }
.css_osnumber_line { }
.css_osnumber_obj { }
.css_nfs_ent_label { }
.css_nfs_ent_line { }
.css_nfs_ent_obj { }
.css_id_empresa_label { }
.css_id_empresa_line { }
.css_id_empresa_obj { }
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_classe_label { }
.css_classe_line { }
.css_classe_obj { }
.css_marca_label { }
.css_marca_line { }
.css_marca_obj { }
.css_modelo_label { }
.css_modelo_line { }
.css_modelo_obj { }
.css_serie_label { }
.css_serie_line { }
.css_serie_obj { }
.css_natureza_label { }
.css_natureza_line { }
.css_natureza_obj { }
.css_sintoma_label { }
.css_sintoma_line { }
.css_sintoma_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
.css_recepcao_label { }
.css_recepcao_line { }
.css_recepcao_obj { }
.css_dataorc_label { }
.css_dataorc_line { }
.css_dataorc_obj { }
.css_maoobra_label { }
.css_maoobra_line { }
.css_maoobra_obj {text-align:right;}
.css_material_label { }
.css_material_line { }
.css_material_obj {text-align:right;}
.css_orcamento_label { }
.css_orcamento_line { }
.css_orcamento_obj {text-align:right;}
.css_pendencia_label { }
.css_pendencia_line { }
.css_pendencia_obj { }
.css_tecnico_label { }
.css_tecnico_line { }
.css_tecnico_obj { }
.css_saida_label { }
.css_saida_line { }
.css_saida_obj { }
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
.css_empresa_label { }
.css_empresa_line { }
.css_empresa_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_fax_label { }
.css_fax_line { }
.css_fax_obj { }
.css_contato_label { }
.css_contato_line { }
.css_contato_obj { }
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_endereco_label { }
.css_endereco_line { }
.css_endereco_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_servico_label { }
.css_servico_line { }
.css_servico_obj { }
.css_mat_label { }
.css_mat_line { }
.css_mat_obj { }
