.css_empresa_tipo_label, .css_empresa_tipo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_tipo_grid_line, .css_empresa_tipo_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_label, .css_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_categoria_label, .css_empresa_categoria_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_categoria_grid_line, .css_empresa_categoria_grid_line:hover {vertical-align: top;text-align: left;}
.css_cidade_cidade_label, .css_cidade_cidade_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cidade_cidade_grid_line, .css_cidade_cidade_grid_line:hover {vertical-align: top;text-align: left;}
.css_cidade_uf_label, .css_cidade_uf_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cidade_uf_grid_line, .css_cidade_uf_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_email_label, .css_empresa_email_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_email_grid_line, .css_empresa_email_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_dat_ult_proposta_label, .css_empresa_dat_ult_proposta_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_empresa_dat_ult_proposta_grid_line, .css_empresa_dat_ult_proposta_grid_line:hover {vertical-align: top;text-align: center;}
.css_empresa_rede_label, .css_empresa_rede_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_rede_grid_line, .css_empresa_rede_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_empresa_label, .css_empresa_empresa_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_empresa_grid_line, .css_empresa_empresa_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_telefone_label, .css_empresa_telefone_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_telefone_grid_line, .css_empresa_telefone_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_contato_label, .css_empresa_contato_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_contato_grid_line, .css_empresa_contato_grid_line:hover {vertical-align: top;text-align: left;}
