.css_data_label, .css_data_label:hover {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_data_grid_line, .css_data_grid_line:hover {vertical-align: top;text-align: left;}
.css_dolar_label, .css_dolar_label:hover {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_dolar_grid_line, .css_dolar_grid_line:hover {font-weight:bold;vertical-align: middle;text-align: left;}
