.css_id_proposta_label, .css_id_proposta_label span{ }
.css_id_proposta_label span  span{line-height:1.5;}
.css_id_proposta_line, .css_id_proposta_line span{text-align:left;}
.css_id_proposta_line span  span{line-height:1.5;}
.css_id_proposta_obj, .css_id_proposta_obj span{text-align:left;}
.css_id_proposta_obj span  span{line-height:1.5;}
.css_cod_vend_label, .css_cod_vend_label span{ }
.css_cod_vend_label span  span{line-height:1.5;}
.css_cod_vend_line, .css_cod_vend_line span{ }
.css_cod_vend_line span  span{line-height:1.5;}
.css_cod_vend_obj, .css_cod_vend_obj span{ }
.css_cod_vend_obj span  span{line-height:1.5;}
.css_relato_label, .css_relato_label span{ }
.css_relato_label span  span{line-height:1.5;}
.css_relato_line, .css_relato_line span{ }
.css_relato_line span  span{line-height:1.5;}
.css_relato_obj, .css_relato_obj span{ }
.css_relato_obj span  span{line-height:1.5;}
.css_data_label, .css_data_label span{ }
.css_data_label span  span{line-height:1.5;}
.css_data_line, .css_data_line span{ }
.css_data_line span  span{line-height:1.5;}
.css_data_obj, .css_data_obj span{ }
.css_data_obj span  span{line-height:1.5;}
.css_data_prevista_label, .css_data_prevista_label span{ }
.css_data_prevista_label span  span{line-height:1.5;}
.css_data_prevista_line, .css_data_prevista_line span{ }
.css_data_prevista_line span  span{line-height:1.5;}
.css_data_prevista_obj, .css_data_prevista_obj span{ }
.css_data_prevista_obj span  span{line-height:1.5;}
.css_status_label, .css_status_label span{ }
.css_status_label span  span{line-height:1.5;}
.css_status_line, .css_status_line span{ }
.css_status_line span  span{line-height:1.5;}
.css_status_obj, .css_status_obj span{ }
.css_status_obj span  span{line-height:1.5;}
.css_grau_oportunidade_label, .css_grau_oportunidade_label span{ }
.css_grau_oportunidade_label span  span{line-height:1.5;}
.css_grau_oportunidade_line, .css_grau_oportunidade_line span{ }
.css_grau_oportunidade_line span  span{line-height:1.5;}
.css_grau_oportunidade_obj, .css_grau_oportunidade_obj span{ }
.css_grau_oportunidade_obj span  span{line-height:1.5;}
