.css_codigo_label, .css_codigo_label span{ }
.css_codigo_label span  span{line-height:1.5;}
.css_codigo_line, .css_codigo_line >span{ }
.css_codigo_line span  span{line-height:1.5;}
.css_codigo_obj, .css_codigo_obj span{text-align:left;}
.css_codigo_obj span  span{line-height:1.5;}
.css_moeda_label, .css_moeda_label span{ }
.css_moeda_label span  span{line-height:1.5;}
.css_moeda_line, .css_moeda_line >span{ }
.css_moeda_line span  span{line-height:1.5;}
.css_moeda_obj, .css_moeda_obj span{ }
.css_moeda_obj span  span{line-height:1.5;}
.css_entrega_label, .css_entrega_label span{ }
.css_entrega_label span  span{line-height:1.5;}
.css_entrega_line, .css_entrega_line >span{ }
.css_entrega_line span  span{line-height:1.5;}
.css_entrega_obj, .css_entrega_obj span{ }
.css_entrega_obj span  span{line-height:1.5;}
.css_garantia_label, .css_garantia_label span{ }
.css_garantia_label span  span{line-height:1.5;}
.css_garantia_line, .css_garantia_line >span{ }
.css_garantia_line span  span{line-height:1.5;}
.css_garantia_obj, .css_garantia_obj span{ }
.css_garantia_obj span  span{line-height:1.5;}
.css_condpag_label, .css_condpag_label span{ }
.css_condpag_label span  span{line-height:1.5;}
.css_condpag_line, .css_condpag_line >span{ }
.css_condpag_line span  span{line-height:1.5;}
.css_condpag_obj, .css_condpag_obj span{ }
.css_condpag_obj span  span{line-height:1.5;}
.css_formpag_label, .css_formpag_label span{ }
.css_formpag_label span  span{line-height:1.5;}
.css_formpag_line, .css_formpag_line >span{ }
.css_formpag_line span  span{line-height:1.5;}
.css_formpag_obj, .css_formpag_obj span{ }
.css_formpag_obj span  span{line-height:1.5;}
.css_instdep_label, .css_instdep_label span{ }
.css_instdep_label span  span{line-height:1.5;}
.css_instdep_line, .css_instdep_line >span{ }
.css_instdep_line span  span{line-height:1.5;}
.css_instdep_obj, .css_instdep_obj span{ }
.css_instdep_obj span  span{line-height:1.5;}
.css_mensagem_label, .css_mensagem_label span{ }
.css_mensagem_label span  span{line-height:1.5;}
.css_mensagem_line, .css_mensagem_line >span{ }
.css_mensagem_line span  span{line-height:1.5;}
.css_mensagem_obj, .css_mensagem_obj span{ }
.css_mensagem_obj span  span{line-height:1.5;}
.css_validade_label, .css_validade_label span{ }
.css_validade_label span  span{line-height:1.5;}
.css_validade_line, .css_validade_line >span{ }
.css_validade_line span  span{line-height:1.5;}
.css_validade_obj, .css_validade_obj span{text-align:left;}
.css_validade_obj span  span{line-height:1.5;}
.css_impostos_label, .css_impostos_label span{ }
.css_impostos_label span  span{line-height:1.5;}
.css_impostos_line, .css_impostos_line >span{ }
.css_impostos_line span  span{line-height:1.5;}
.css_impostos_obj, .css_impostos_obj span{ }
.css_impostos_obj span  span{line-height:1.5;}
.css_desconto_label, .css_desconto_label span{ }
.css_desconto_label span  span{line-height:1.5;}
.css_desconto_line, .css_desconto_line >span{ }
.css_desconto_line span  span{line-height:1.5;}
.css_desconto_obj, .css_desconto_obj span{text-align:left;}
.css_desconto_obj span  span{line-height:1.5;}
.css_frete_label, .css_frete_label span{ }
.css_frete_label span  span{line-height:1.5;}
.css_frete_line, .css_frete_line >span{ }
.css_frete_line span  span{line-height:1.5;}
.css_frete_obj, .css_frete_obj span{ }
.css_frete_obj span  span{line-height:1.5;}
