.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj {text-align:right;}
.css_moeda_label { }
.css_moeda_line { }
.css_moeda_obj { }
.css_entrega_label { }
.css_entrega_line { }
.css_entrega_obj { }
.css_garantia_label { }
.css_garantia_line { }
.css_garantia_obj { }
.css_condpag_label { }
.css_condpag_line { }
.css_condpag_obj { }
.css_formpag_label { }
.css_formpag_line { }
.css_formpag_obj { }
.css_instdep_label { }
.css_instdep_line { }
.css_instdep_obj { }
.css_mensagem_label { }
.css_mensagem_line { }
.css_mensagem_obj { }
.css_validade_label { }
.css_validade_line { }
.css_validade_obj {text-align:right;}
.css_impostos_label { }
.css_impostos_line { }
.css_impostos_obj { }
.css_desconto_label { }
.css_desconto_line { }
.css_desconto_obj {text-align:right;}
.css_frete_label { }
.css_frete_line { }
.css_frete_obj { }
