.css_app_name_label, .css_app_name_label span{ }
.css_app_name_label span  span{line-height:1.5;}
.css_app_name_line, .css_app_name_line span{ }
.css_app_name_line span  span{line-height:1.5;}
.css_app_name_obj, .css_app_name_obj span{ }
.css_app_name_obj span  span{line-height:1.5;}
.css_description_label, .css_description_label span{ }
.css_description_label span  span{line-height:1.5;}
.css_description_line, .css_description_line span{ }
.css_description_line span  span{line-height:1.5;}
.css_description_obj, .css_description_obj span{ }
.css_description_obj span  span{line-height:1.5;}
