.css_modelo__label { }
.css_modelo__line { }
.css_modelo__obj { }
.css_descricao__label { }
.css_descricao__line { }
.css_descricao__obj { }
.css_unit__label { }
.css_unit__line {text-align:left;}
.css_unit__obj {text-align:left;}
.css_desconto__label { }
.css_desconto__line {text-align:left;}
.css_desconto__obj {text-align:left;}
.css_qty__label { }
.css_qty__line {text-align:left;}
.css_qty__obj {text-align:left;}
.css_subtotal__label { }
.css_subtotal__line {text-align:left;}
.css_subtotal__obj {text-align:left;}
