.css_titulo_label { }
.css_titulo_line { }
.css_titulo_obj { }
.css_aliquota_label { }
.css_aliquota_line {text-align:left;}
.css_aliquota_obj {text-align:left;}
.css_markup_label { }
.css_markup_line {text-align:left;}
.css_markup_obj {text-align:left;}
.css_markupitems_label { }
.css_markupitems_line { }
.css_markupitems_obj { }
