.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_entrada_sum_label, .css_entrada_sum_label:hover {text-align: right; vertical-align: top}
.css_entrada_sum_field, .css_entrada_sum_field:hover {text-align: right; vertical-align: top}
.css_saida_sum_label, .css_saida_sum_label:hover {text-align: right; vertical-align: top}
.css_saida_sum_field, .css_saida_sum_field:hover {text-align: right; vertical-align: top}
.css_unit_estoq_sum_label, .css_unit_estoq_sum_label:hover {text-align: right; vertical-align: top}
.css_unit_estoq_sum_field, .css_unit_estoq_sum_field:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label, .css___nm_count_nm___cnt_label:hover {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field, .css___nm_count_nm___cnt_field:hover {text-align: right; vertical-align: top}
