.css_modelo_label, .css_modelo_label span{ }
.css_modelo_label span  span{line-height:1.5;}
.css_modelo_line, .css_modelo_line span{ }
.css_modelo_line span  span{line-height:1.5;}
.css_modelo_obj, .css_modelo_obj span{ }
.css_modelo_obj span  span{line-height:1.5;}
.css_id_classe_label, .css_id_classe_label span{ }
.css_id_classe_label span  span{line-height:1.5;}
.css_id_classe_line, .css_id_classe_line span{ }
.css_id_classe_line span  span{line-height:1.5;}
.css_id_classe_obj, .css_id_classe_obj span{ }
.css_id_classe_obj span  span{line-height:1.5;}
.css_ncm_label, .css_ncm_label span{ }
.css_ncm_label span  span{line-height:1.5;}
.css_ncm_line, .css_ncm_line span{ }
.css_ncm_line span  span{line-height:1.5;}
.css_ncm_obj, .css_ncm_obj span{ }
.css_ncm_obj span  span{line-height:1.5;}
.css_id_marca_label, .css_id_marca_label span{ }
.css_id_marca_label span  span{line-height:1.5;}
.css_id_marca_line, .css_id_marca_line span{ }
.css_id_marca_line span  span{line-height:1.5;}
.css_id_marca_obj, .css_id_marca_obj span{ }
.css_id_marca_obj span  span{line-height:1.5;}
.css_descricao_label, .css_descricao_label span{ }
.css_descricao_label span  span{line-height:1.5;}
.css_descricao_line, .css_descricao_line span{ }
.css_descricao_line span  span{line-height:1.5;}
.css_descricao_obj, .css_descricao_obj span{ }
.css_descricao_obj span  span{line-height:1.5;}
.css_custo_label, .css_custo_label span{ }
.css_custo_label span  span{line-height:1.5;}
.css_custo_line, .css_custo_line span{text-align:left;}
.css_custo_line span  span{line-height:1.5;}
.css_custo_obj, .css_custo_obj span{text-align:left;}
.css_custo_obj span  span{line-height:1.5;}
.css_venda_label, .css_venda_label span{ }
.css_venda_label span  span{line-height:1.5;}
.css_venda_line, .css_venda_line span{text-align:left;}
.css_venda_line span  span{line-height:1.5;}
.css_venda_obj, .css_venda_obj span{text-align:left;}
.css_venda_obj span  span{line-height:1.5;}
.css_detalhe_label, .css_detalhe_label span{ }
.css_detalhe_label span  span{line-height:1.5;}
.css_detalhe_line, .css_detalhe_line span{ }
.css_detalhe_line span  span{line-height:1.5;}
.css_detalhe_obj, .css_detalhe_obj span{ }
.css_detalhe_obj span  span{line-height:1.5;}
.css_peso_label, .css_peso_label span{ }
.css_peso_label span  span{line-height:1.5;}
.css_peso_line, .css_peso_line span{text-align:left;}
.css_peso_line span  span{line-height:1.5;}
.css_peso_obj, .css_peso_obj span{text-align:left;}
.css_peso_obj span  span{line-height:1.5;}
.css_data_label, .css_data_label span{ }
.css_data_label span  span{line-height:1.5;}
.css_data_line, .css_data_line span{ }
.css_data_line span  span{line-height:1.5;}
.css_data_obj, .css_data_obj span{ }
.css_data_obj span  span{line-height:1.5;}
.css_markup_label, .css_markup_label span{ }
.css_markup_label span  span{line-height:1.5;}
.css_markup_line, .css_markup_line span{ }
.css_markup_line span  span{line-height:1.5;}
.css_markup_obj, .css_markup_obj span{ }
.css_markup_obj span  span{line-height:1.5;}
.css_sc_field_0_label, .css_sc_field_0_label span{ }
.css_sc_field_0_label span  span{line-height:1.5;}
.css_sc_field_0_line, .css_sc_field_0_line span{ }
.css_sc_field_0_line span  span{line-height:1.5;}
.css_sc_field_0_obj, .css_sc_field_0_obj span{ }
.css_sc_field_0_obj span  span{line-height:1.5;}
