.css_modelo_label { }
.css_modelo_line { }
.css_modelo_obj { }
.css_id_classe_label { }
.css_id_classe_line { }
.css_id_classe_obj { }
.css_ncm_label { }
.css_ncm_line { }
.css_ncm_obj { }
.css_id_marca_label { }
.css_id_marca_line { }
.css_id_marca_obj { }
.css_descricao_label { }
.css_descricao_line { }
.css_descricao_obj { }
.css_custo_label { }
.css_custo_line {text-align:left;}
.css_custo_obj {text-align:left;}
.css_venda_label { }
.css_venda_line {text-align:left;}
.css_venda_obj {text-align:left;}
.css_detalhe_label { }
.css_detalhe_line { }
.css_detalhe_obj { }
.css_peso_label { }
.css_peso_line {text-align:left;}
.css_peso_obj {text-align:left;}
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_markup_label { }
.css_markup_line { }
.css_markup_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line { }
.css_sc_field_0_obj { }
