.css_id_label, .css_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line, .css_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_empresa_label, .css_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_vend_label, .css_cod_vend_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_vend_grid_line, .css_cod_vend_grid_line:hover {vertical-align: top;text-align: right;}
.css_natureza_label, .css_natureza_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_natureza_grid_line, .css_natureza_grid_line:hover {vertical-align: top;text-align: right;}
.css_periodo_label, .css_periodo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_periodo_grid_line, .css_periodo_grid_line:hover {font-weight:bold;vertical-align: top;text-align: right;}
.css_data_label, .css_data_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line, .css_data_grid_line:hover {vertical-align: top;text-align: center;}
.css_vencimento_label, .css_vencimento_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_vencimento_grid_line, .css_vencimento_grid_line:hover {text-align: center;}
.css_total_label, .css_total_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line, .css_total_grid_line:hover {font-weight:bold;vertical-align: top;text-align: right;}
.css_total_tot_ger, .css_total_tot_ger:hover {text-align: right;}
.css_cliente_label, .css_cliente_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_cliente_grid_line, .css_cliente_grid_line:hover {color:#FFFFCC;vertical-align: top;text-align: right;}
.css_atencao_label, .css_atencao_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_atencao_grid_line, .css_atencao_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_empresa_label, .css_id_empresa_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_id_empresa_grid_line, .css_id_empresa_grid_line:hover {color:#000000;vertical-align: top;text-align: right;}
.css_telefone_label, .css_telefone_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_telefone_grid_line, .css_telefone_grid_line:hover {vertical-align: top;text-align: right;}
