.css_rede_label, .css_rede_label span{ }
.css_rede_label span  span{line-height:1.5;}
.css_rede_line, .css_rede_line >span{ }
.css_rede_line span  span{line-height:1.5;}
.css_rede_obj, .css_rede_obj span{ }
.css_rede_obj span  span{line-height:1.5;}
