.css_id_label {font-family:Arial, sans-serif;font-size:20px;color:#000000 !important;}
.css_id_line {font-family:Arial, sans-serif;font-size:24px;color:#000000 !important;font-weight:bold;text-align:center;vertical-align:middle;}
.css_id_obj { }
.css_id_empresa_label { }
.css_id_empresa_line {text-align:left;}
.css_id_empresa_obj {text-align:left;}
.css_cliente_label { }
.css_cliente_line { }
.css_cliente_obj { }
.css_atencao_label { }
.css_atencao_line { }
.css_atencao_obj { }
.css_telefone_label { }
.css_telefone_line { }
.css_telefone_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_natureza_label { }
.css_natureza_line { }
.css_natureza_obj { }
.css_data_label { }
.css_data_line { }
.css_data_obj { }
.css_cod_vend_label { }
.css_cod_vend_line {background-color:#d1c9d1;}
.css_cod_vend_obj { }
.css_tabela_label { }
.css_tabela_line { }
.css_tabela_obj { }
.css_previsao_label {text-align:;}
.css_previsao_line {text-align:left;}
.css_previsao_obj {text-align:left;}
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_desconto_label { }
.css_desconto_line {text-align:left;}
.css_desconto_obj {text-align:left;}
.css_condpag_label { }
.css_condpag_line { }
.css_condpag_obj { }
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
.css_header_label { }
.css_header_line { }
.css_header_obj { }
.css_transportadora_label { }
.css_transportadora_line { }
.css_transportadora_obj { }
.css_local_entrega_label { }
.css_local_entrega_line { }
.css_local_entrega_obj { }
.css_itensdaproposta_label { }
.css_itensdaproposta_line { }
.css_itensdaproposta_obj { }
