.css_categoria_categoria_label, .css_categoria_categoria_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoria_categoria_grid_line, .css_categoria_categoria_grid_line:hover {vertical-align: top;text-align: left;}
.css_sc_field_0_label, .css_sc_field_0_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line, .css_sc_field_0_grid_line:hover {vertical-align: top;text-align: right;}
