.css_osnumber_label, .css_osnumber_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_osnumber_grid_line, .css_osnumber_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_empresa_label, .css_id_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_empresa_grid_line, .css_id_empresa_grid_line:hover {vertical-align: top;text-align: right;}
.css_modelo_label, .css_modelo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_modelo_grid_line, .css_modelo_grid_line:hover {vertical-align: top;text-align: right;}
.css_data_label, .css_data_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line, .css_data_grid_line:hover {vertical-align: top;text-align: center;}
.css_classe_label, .css_classe_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_classe_grid_line, .css_classe_grid_line:hover {vertical-align: top;text-align: right;}
.css_marca_label, .css_marca_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_marca_grid_line, .css_marca_grid_line:hover {vertical-align: top;text-align: right;}
.css_serie_label, .css_serie_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serie_grid_line, .css_serie_grid_line:hover {vertical-align: top;text-align: right;}
