.css_id_label, .css_id_label span{ }
.css_id_label span  span{line-height:1.5;}
.css_id_line, .css_id_line >span{text-align:left;}
.css_id_line span  span{line-height:1.5;}
.css_id_obj, .css_id_obj span{text-align:left;}
.css_id_obj span  span{line-height:1.5;}
.css_tipo_label, .css_tipo_label span{ }
.css_tipo_label span  span{line-height:1.5;}
.css_tipo_line, .css_tipo_line >span{ }
.css_tipo_line span  span{line-height:1.5;}
.css_tipo_obj, .css_tipo_obj span{ }
.css_tipo_obj span  span{line-height:1.5;}
.css_empresa_label, .css_empresa_label span{ }
.css_empresa_label span  span{line-height:1.5;}
.css_empresa_line, .css_empresa_line >span{ }
.css_empresa_line span  span{line-height:1.5;}
.css_empresa_obj, .css_empresa_obj span{ }
.css_empresa_obj span  span{line-height:1.5;}
.css_contato_label, .css_contato_label span{ }
.css_contato_label span  span{line-height:1.5;}
.css_contato_line, .css_contato_line >span{ }
.css_contato_line span  span{line-height:1.5;}
.css_contato_obj, .css_contato_obj span{ }
.css_contato_obj span  span{line-height:1.5;}
.css_email_label, .css_email_label span{ }
.css_email_label span  span{line-height:1.5;}
.css_email_line, .css_email_line >span{ }
.css_email_line span  span{line-height:1.5;}
.css_email_obj, .css_email_obj span{ }
.css_email_obj span  span{line-height:1.5;}
.css_data_label, .css_data_label span{ }
.css_data_label span  span{line-height:1.5;}
.css_data_line, .css_data_line >span{ }
.css_data_line span  span{line-height:1.5;}
.css_data_obj, .css_data_obj span{ }
.css_data_obj span  span{line-height:1.5;}
.css_enviar_label, .css_enviar_label span{ }
.css_enviar_label span  span{line-height:1.5;}
.css_enviar_line, .css_enviar_line >span{ }
.css_enviar_line span  span{line-height:1.5;}
.css_enviar_obj, .css_enviar_obj span{ }
.css_enviar_obj span  span{line-height:1.5;}
