.css_id_det_label, .css_id_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: right;}
.css_data_compra_det_label, .css_data_compra_det_label:hover {text-align: right;vertical-align: middle;}
.css_data_compra_det_line, .css_data_compra_det_line:hover {height:0px;text-align: right;}
.css_empresa_det_label, .css_empresa_det_label:hover {text-align: right;vertical-align: middle;}
.css_empresa_det_line, .css_empresa_det_line:hover {height:0px;text-align: right;}
.css_contato_det_label, .css_contato_det_label:hover {text-align: right;vertical-align: middle;}
.css_contato_det_line, .css_contato_det_line:hover {height:0px;text-align: right;}
.css_modelo_det_label, .css_modelo_det_label:hover {text-align: right;vertical-align: middle;}
.css_modelo_det_line, .css_modelo_det_line:hover {height:0px;text-align: right;}
.css_cod_ativacao_det_label, .css_cod_ativacao_det_label:hover {text-align: right;vertical-align: middle;}
.css_cod_ativacao_det_line, .css_cod_ativacao_det_line:hover {height:0px;text-align: right;}
.css_serial_det_label, .css_serial_det_label:hover {text-align: right;vertical-align: middle;}
.css_serial_det_line, .css_serial_det_line:hover {height:0px;text-align: right;}
.css_vendedor_det_label, .css_vendedor_det_label:hover {text-align: right;vertical-align: middle;}
.css_vendedor_det_line, .css_vendedor_det_line:hover {height:0px;text-align: right;}
.css_ordem_det_label, .css_ordem_det_label:hover {text-align: right;vertical-align: middle;}
.css_ordem_det_line, .css_ordem_det_line:hover {height:0px;text-align: right;}
.css_obs_det_label, .css_obs_det_label:hover {text-align: right;vertical-align: middle;}
.css_obs_det_line, .css_obs_det_line:hover {height:0px;text-align: right;}
