.css_contas_id_empresa_det_label, .css_contas_id_empresa_det_label:hover {text-align: left;vertical-align: middle;}
.css_contas_id_empresa_det_line, .css_contas_id_empresa_det_line:hover {height:0px;text-align: left;}
.css_contas_moeda_det_label, .css_contas_moeda_det_label:hover {text-align: left;vertical-align: middle;}
.css_contas_moeda_det_line, .css_contas_moeda_det_line:hover {height:0px;text-align: left;}
.css_empresa_empresa_det_label, .css_empresa_empresa_det_label:hover {text-align: left;vertical-align: middle;}
.css_empresa_empresa_det_line, .css_empresa_empresa_det_line:hover {height:0px;text-align: left;}
.css_saldo_det_label, .css_saldo_det_label:hover {text-align: left;vertical-align: middle;}
.css_saldo_det_line, .css_saldo_det_line:hover {height:0px;text-align: left;}
