.css_id_markup__label, .css_id_markup__label span{ }
.css_id_markup__label span  span{line-height:1.5;}
.css_id_markup__line, .css_id_markup__line span{text-align:left;}
.css_id_markup__line span  span{line-height:1.5;}
.css_id_markup__obj, .css_id_markup__obj span{text-align:left;}
.css_id_markup__obj span  span{line-height:1.5;}
.css_id_custo_markup__label, .css_id_custo_markup__label span{ }
.css_id_custo_markup__label span  span{line-height:1.5;}
.css_id_custo_markup__line, .css_id_custo_markup__line span{text-align:left;}
.css_id_custo_markup__line span  span{line-height:1.5;}
.css_id_custo_markup__obj, .css_id_custo_markup__obj span{text-align:left;}
.css_id_custo_markup__obj span  span{line-height:1.5;}
.css_aliquota__label, .css_aliquota__label span{ }
.css_aliquota__label span  span{line-height:1.5;}
.css_aliquota__line, .css_aliquota__line span{text-align:left;}
.css_aliquota__line span  span{line-height:1.5;}
.css_aliquota__obj, .css_aliquota__obj span{text-align:left;}
.css_aliquota__obj span  span{line-height:1.5;}
