.css_id_markup__label { }
.css_id_markup__line {text-align:left;}
.css_id_markup__obj {text-align:left;}
.css_id_custo_markup__label { }
.css_id_custo_markup__line {text-align:left;}
.css_id_custo_markup__obj {text-align:left;}
.css_aliquota__label { }
.css_aliquota__line {text-align:left;}
.css_aliquota__obj {text-align:left;}
