.css_email_label, .css_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line, .css_email_grid_line:hover {vertical-align: top;text-align: left;}
.css_empresa_label, .css_empresa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_grid_line, .css_empresa_grid_line:hover {vertical-align: top;text-align: left;}
.css_contato_label, .css_contato_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contato_grid_line, .css_contato_grid_line:hover {vertical-align: top;text-align: left;}
.css_data_label, .css_data_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_data_grid_line, .css_data_grid_line:hover {vertical-align: top;text-align: left;}
.css_ano_label, .css_ano_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ano_grid_line, .css_ano_grid_line:hover {vertical-align: top;text-align: left;}
.css_categoria_label, .css_categoria_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoria_grid_line, .css_categoria_grid_line:hover {vertical-align: top;text-align: left;}
.css_newsletter_label, .css_newsletter_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_newsletter_grid_line, .css_newsletter_grid_line:hover {vertical-align: top;text-align: right;}
