.css_operacao_label, .css_operacao_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_operacao_grid_line, .css_operacao_grid_line:hover {vertical-align: top;text-align: left;}
.css_cfop_label, .css_cfop_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cfop_grid_line, .css_cfop_grid_line:hover {vertical-align: top;text-align: right;}
