.css_rede_label, .css_rede_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rede_grid_line, .css_rede_grid_line:hover {vertical-align: top;text-align: left;}
