.css_id_pai_label, .css_id_pai_label span{ }
.css_id_pai_label span  span{line-height:1.5;}
.css_id_pai_line, .css_id_pai_line >span{ }
.css_id_pai_line span  span{line-height:1.5;}
.css_id_pai_obj, .css_id_pai_obj span{ }
.css_id_pai_obj span  span{line-height:1.5;}
.css_conta_label, .css_conta_label span{ }
.css_conta_label span  span{line-height:1.5;}
.css_conta_line, .css_conta_line >span{ }
.css_conta_line span  span{line-height:1.5;}
.css_conta_obj, .css_conta_obj span{ }
.css_conta_obj span  span{line-height:1.5;}
.css_tipo_label, .css_tipo_label span{ }
.css_tipo_label span  span{line-height:1.5;}
.css_tipo_line, .css_tipo_line >span{ }
.css_tipo_line span  span{line-height:1.5;}
.css_tipo_obj, .css_tipo_obj span{ }
.css_tipo_obj span  span{line-height:1.5;}
