.css_marca_label, .css_marca_label span{ }
.css_marca_label span  span{line-height:1.5;}
.css_marca_line, .css_marca_line span{ }
.css_marca_line span  span{line-height:1.5;}
.css_marca_obj, .css_marca_obj span{ }
.css_marca_obj span  span{line-height:1.5;}
