.css_app_name__label, .css_app_name__label span{ }
.css_app_name__label span  span{line-height:1.5;}
.css_app_name__line, .css_app_name__line span{ }
.css_app_name__line span  span{line-height:1.5;}
.css_app_name__obj, .css_app_name__obj span{ }
.css_app_name__obj span  span{line-height:1.5;}
.css_priv_access__label, .css_priv_access__label span{ }
.css_priv_access__label span  span{line-height:1.5;}
.css_priv_access__line, .css_priv_access__line span{ }
.css_priv_access__line span  span{line-height:1.5;}
.css_priv_access__obj, .css_priv_access__obj span{ }
.css_priv_access__obj span  span{line-height:1.5;}
.css_priv_insert__label, .css_priv_insert__label span{ }
.css_priv_insert__label span  span{line-height:1.5;}
.css_priv_insert__line, .css_priv_insert__line span{ }
.css_priv_insert__line span  span{line-height:1.5;}
.css_priv_insert__obj, .css_priv_insert__obj span{ }
.css_priv_insert__obj span  span{line-height:1.5;}
.css_priv_delete__label, .css_priv_delete__label span{ }
.css_priv_delete__label span  span{line-height:1.5;}
.css_priv_delete__line, .css_priv_delete__line span{ }
.css_priv_delete__line span  span{line-height:1.5;}
.css_priv_delete__obj, .css_priv_delete__obj span{ }
.css_priv_delete__obj span  span{line-height:1.5;}
.css_priv_update__label, .css_priv_update__label span{ }
.css_priv_update__label span  span{line-height:1.5;}
.css_priv_update__line, .css_priv_update__line span{ }
.css_priv_update__line span  span{line-height:1.5;}
.css_priv_update__obj, .css_priv_update__obj span{ }
.css_priv_update__obj span  span{line-height:1.5;}
.css_priv_export__label, .css_priv_export__label span{ }
.css_priv_export__label span  span{line-height:1.5;}
.css_priv_export__line, .css_priv_export__line span{ }
.css_priv_export__line span  span{line-height:1.5;}
.css_priv_export__obj, .css_priv_export__obj span{ }
.css_priv_export__obj span  span{line-height:1.5;}
.css_priv_print__label, .css_priv_print__label span{ }
.css_priv_print__label span  span{line-height:1.5;}
.css_priv_print__line, .css_priv_print__line span{ }
.css_priv_print__line span  span{line-height:1.5;}
.css_priv_print__obj, .css_priv_print__obj span{ }
.css_priv_print__obj span  span{line-height:1.5;}
.css_description__label, .css_description__label span{ }
.css_description__label span  span{line-height:1.5;}
.css_description__line, .css_description__line span{ }
.css_description__line span  span{line-height:1.5;}
.css_description__obj, .css_description__obj span{ }
.css_description__obj span  span{line-height:1.5;}
