.css_categoria_label, .css_categoria_label span{ }
.css_categoria_label span  span{line-height:1.5;}
.css_categoria_line, .css_categoria_line >span{ }
.css_categoria_line span  span{line-height:1.5;}
.css_categoria_obj, .css_categoria_obj span{ }
.css_categoria_obj span  span{line-height:1.5;}
.css_id_vendedor_label, .css_id_vendedor_label span{ }
.css_id_vendedor_label span  span{line-height:1.5;}
.css_id_vendedor_line, .css_id_vendedor_line >span{ }
.css_id_vendedor_line span  span{line-height:1.5;}
.css_id_vendedor_obj, .css_id_vendedor_obj span{ }
.css_id_vendedor_obj span  span{line-height:1.5;}
