.css_sync_label, .css_sync_label span{ }
.css_sync_label span  span{line-height:1.5;}
.css_sync_line, .css_sync_line span{ }
.css_sync_line span  span{line-height:1.5;}
.css_sync_obj, .css_sync_obj span{ }
.css_sync_obj span  span{line-height:1.5;}
.css_check_deleted_label, .css_check_deleted_label span{ }
.css_check_deleted_label span  span{line-height:1.5;}
.css_check_deleted_line, .css_check_deleted_line span{ }
.css_check_deleted_line span  span{line-height:1.5;}
.css_check_deleted_obj, .css_check_deleted_obj span{ }
.css_check_deleted_obj span  span{line-height:1.5;}
